/*
!/.gitignore

!/.vim
/.vim/*
!/.vim/**
/.vim/local.vim
/.vim/session/

!/.config
/.config/*
!/.config/alacritty
!/.config/tmux

!/.zsh
!/.zshenv

!/.fasdrc

!/post-install.sh
!/.tmux.conf
!/.zshrc
!/tmux-256color.terminfo
