[submodule "zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "fast-syntax-highlighting"]
	path = .zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "tmux-fingers"]
	path = .config/tmux/tmux-fingers
	url = https://github.com/morantron/tmux-fingers
[submodule "fasd"]
	path = .zsh/fasd
	url = https://github.com/clvv/fasd.git
