[submodule "vim-commentary"]
	path = .vim/pack/third-party/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-surround"]
	path = .vim/pack/third-party/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-repeat"]
	path = .vim/pack/third-party/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "VimCompletesMe"]
	path = .vim/pack/third-party/start/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule "vim-prettier"]
	path = .vim/pack/third-party/opt/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "vim-jsx-pretty"]
	path = .vim/pack/third-party/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vim-hack"]
	path = .vim/pack/third-party/start/vim-hack
	url = https://github.com/hhvm/vim-hack.git
[submodule "vim-colortemplate"]
	path = .vim/pack/third-party/opt/vim-colortemplate
	url = https://github.com/lifepillar/vim-colortemplate.git
[submodule "zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "fast-syntax-highlighting"]
	path = .zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "nvim-lsp"]
	path = .vim/pack/third-party/opt/nvim-lsp
	url = https://github.com/neovim/nvim-lsp.git
[submodule "vim-qf"]
	path = .vim/pack/third-party/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule "vim-bufkill"]
	path = .vim/pack/third-party/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "vim-dirvish"]
	path = .vim/pack/mine/start/vim-dirvish
	url = https://github.com/beardedsakimonkey/vim-dirvish.git
[submodule "vim-matchup"]
	path = .vim/pack/third-party/start/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule "zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "linediff.vim"]
	path = .vim/pack/third-party/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "vim-apathy"]
	path = .vim/pack/third-party/start/vim-apathy
	url = https://github.com/tpope/vim-apathy.git
[submodule "vim-quickhl"]
	path = .vim/pack/third-party/start/vim-quickhl
	url = https://github.com/t9md/vim-quickhl.git
[submodule "fasd"]
	path = .zsh/fasd
	url = https://github.com/clvv/fasd.git
[submodule "rust.vim"]
	path = .vim/pack/third-party/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim-glsl"]
	path = /Users/tim/.vim/pack/third-party/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
