/*
!/.gitignore

!/.config
/.config/*
!/.config/alacritty
!/.config/tmux
!/.config/nvim
# packer_compiled.lua contains absolute paths, so not portable.
/.config/nvim/plugin/packer_compiled.lua

!/.zsh
!/.zshenv

!/.fasdrc

!/post-install.sh
!/.tmux.conf
!/.zshrc
!/tmux-256color.terminfo
